h3 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

#imgPreview
{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    margin-left: 5%;
    display: block;
    margin-bottom: 20px;
}

form div {
    width: 88%;
    display: block;
    margin: 0px auto 5px auto;
    font-size: 1em;
}

input, textarea {
    width: 88%;
    display: block;
    padding-left: 2%;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 5px auto 15px auto;
    font-size: 0.8em;
    background-color: #fdfdfd;
    border: 1px solid #edeeee;
    border-radius: 3px;
}

textarea {
    resize: none;
    border: 1px inset;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}

#btnChangeAccount {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #005b9a;
    border-radius:4px;
    color: white;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    outline:0;
    border: 0;
}

.profileImage
{
    margin-top: 20px;
}

label {
    width: 88%;
    display: block;
    margin: 30px auto 5px auto;
    font-size: 1em;
}

#checkboxPrivate
{
    width: 10%;
    text-align: left;
    margin-left: 5%;
    float: left;
    display: inline-block;
}

#labelCheckbox
{
    clear: both;
    display: inline-block;
    margin-left: -6%;
    margin-top: -2px;
}

#btnPasswordEdit
{
    width: 100%;
    display: block;
    text-align: left;
    margin-top:20px;
    margin-bottom:18px;
    font-weight:bold;
    color: #005b9a;
    margin-left:5%;
}

@media (min-width: 600px) {
    .fullProfile {
        max-width: 960px;
        margin: 0px auto;
    }
}