.usernameImage
{
    text-decoration: none;
    font-size: 1.2em;
    color: #094485;
}

.modalTimeAgo
{
    font-size: 1em;
}

.photoText
{
    font-size: 0.9em;
}

.userInfo
{
    border-bottom:1px solid #0065a3;
    padding-bottom:10px;
}

.reactions {
    max-height: 30vh;
    overflow: scroll;
}